<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757214614937-903s3ieksl2au3fhrdpot6k4en68rk64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757214614937-903s3ieksl2au3fhrdpot6k4en68rk64</string>
	<key>API_KEY</key>
	<string>AIzaSyDSEVjIkJKMMfLVkVNMzJVwPRnykpfeQVk</string>
	<key>GCM_SENDER_ID</key>
	<string>757214614937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awign.saas</string>
	<key>PROJECT_ID</key>
	<string>hrms-production-6b12b</string>
	<key>STORAGE_BUCKET</key>
	<string>hrms-production-6b12b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757214614937:ios:63359bc8f0fbf08bee6f08</string>
</dict>
</plist>